body {
    background-color: rgb(149, 248, 248);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3{
  text-align: center;
}

p {
    text-align: justify;
    text-align: center;
    font-size: large;   
}

img {
    margin-left: 28%;
}

.tarifs {
    margin-left: 21%;
}